.relog-form{
    position: fixed;
    margin-top: 0%;
    margin-left: 35%;
    width: 30%;
    padding: 3% 5% 1% 5%;
    background: rgba(0,0,0,.5);
    z-index: 999;
    display: none;
}
.relog-avatar{
    position: absolute;
    height: 22%;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-12%);
    left: calc(39%);
}
.relog-form h2{
    margin:0;
    padding:0 0 20px;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.relog-form p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:#fff;
}
.relog-form input{
    width:100%;
    margin-bottom:5%;
}
.relog-form input[type="text"],
.relog-form input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent!important;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 120%;
}
.relog-form input[type="button"]{
    color: #fff;
    font-size: 120%;
    background: red;
    cursor: pointer;
    border: none;
    margin-top: 5%;
}
.relog-form a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}
.relog-form input[type="checkbox"]{
    width:5%;
}

.cover-fixed{
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,.2);
    z-index: 199;
    display: none;
}

.cover-div{
    position:fixed;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0,0);
    z-index: 199;
    display: none;
}

.msg-icon{
    width: 3rem;
    height: 3rem;
}

.msg-err{
    position: fixed;
    top: 40%;
    width: 40%;
    display: none;
    height: 20%;
    background-color: #4b6170;
    z-index: 999;
}

