.contact-form{
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
    padding: 3% 5% 1% 5%;
    background: rgba(0,0,0,.5);
    z-index: 1000;
}
.avatar{
    position: absolute;
    height: 22%;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-13%);
    left: calc(47%);
}
.contact-form h2{
    margin:0;
    padding:0 0 20px;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.contact-form p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:#fff;
}
.contact-form input{
    width:100%;
    margin-bottom:5%;
}
.contact-form input[type="text"],
.contact-form input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent!important;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 120%;
}
.contact-form input[type="button"]{
    color: #fff;
    font-size: 120%;
    background: red;
    cursor: pointer;
    border: none;
    margin-top: 5%;
}
.contact-form a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}
input[type="checkbox"]{
    width:5%;
}
