body{
    margin:0;
    padding:0;
}
body:before{
    content:'';
    position:fixed;
    width:100vw;
    height:100vh;
    background-image:url("/img/login/background.jpg");
    background-position:left center;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-size:60% 100%;
    -webkit-filter:blur(6px) brightness(80%);
    -moz-filter:blur(10px);
    filter:
}
.contact-form{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 34%;
    /*height: 74%;*/
    padding: 3% 5% 5% 5%;
    background: rgba(0,0,0,.5);
}
.avatar{
    position: absolute;
    width: 22%;
    height: 22%;
    border-radius: 50%;
    overflow: hidden;
    top: calc(-13%);
    left: calc(39%);
}
.contact-form h2{
    margin:0;
    padding:0 0 20px;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.contact-form p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:#fff;
}
.contact-form input{
    width:100%;
    margin-bottom:5%;
}
.contact-form input[type="text"],
.contact-form input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 120%;
}
.contact-form input[type="submit"]{
    color: #fff;
    font-size: 120%;
    background: red;
    cursor: pointer;
    border: none;
    margin-top: 5%;
}
.contact-form a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}
input[type="checkbox"]{
    width:5%;
}
