body{
    margin:0;
    padding:0;
}
body:before{
    content:'';
    position:fixed;
    width:100vw;
    height:100vh;
    background-image:url("/img/login/background.jpg");
    background-position:left center;
    background-repeat:repeat-x;
    background-attachment:fixed;
    background-size:60% 100%;
    -webkit-filter:blur(6px) brightness(80%);
    -moz-filter:blur(10px);
    filter:
}
.contact-form{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    height:300px;
    padding:80px 40px;
    background:rgba(0,0,0,.5);
}
.avatar{
    position:absolute;
    width:80px;
    height:80px;
    border-radius:50%;
    overflow:hidden;
    top:calc(-80px/2);
    left:calc(50% - 40px);
}
.contact-form h2{
    margin:0;
    padding:0 0 20px;
    color:#fff;
    text-align:center;
    text-transform:uppercase;
}
.contact-form p{
    margin:0;
    padding:0;
    font-weight:bold;
    color:#fff;
}
.contact-form input{
    width:100%;
    margin-bottom:20px;
}
.contact-form input[type="text"],
.contact-form input[type="password"]
{
    border:none;
    border-bottom:1px solid #fff;
    background:transparent;
    outline:none;
    height:40px;
    color:#fff;
    font-size:16px;
}
.contact-form input[type="submit"]{
    height:30px;
    color:#fff;
    font-size:15px;
    background:red;
    cursor:pointer;
    border:none;
    ouline:none;
    margin-top:15%;
}
.contact-form a{
    color:#fff;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}
input[type="checkbox"]{
    width:5%;
}
