body {
    background-color: #435653 !important;
}

iframe {
    width: 100%;
    border: 0;
    height: inherit;
}

.comm-icon {
    display: block;
    height: auto;
    width: 1.8rem;
}

.sm-icon {
    display: block;
    height: 1rem;
    width: 1rem;
    margin-left: .3rem;
}

.help-icon {
    cursor: help;
}

.comm-input {
    display: block;
    margin-left: 1rem;
    padding: .25rem .45rem;
    font-size: 1.25rem;
    line-height: 0;
    /* color: #495057; */
    outline: 0;
    background-color: #435653;
    background-clip: padding-box;
    border: 1px solid #000000;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /*box-shadow: 2px 2px 5px 1px;*/
}

.iframe-div {
    margin-bottom: 1rem;
    padding: 1rem;
    height: 100vh;
    background-color: rgba(0,0,0,0);
}
.dropdown-menu{
    position: absolute;
    top: auto!important;
    left: auto!important;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #48565d!important;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,0) !important;
    border-radius: .5rem!important;
}

.dropdown-header{
    padding: 0rem .5rem!important;
    font-size: 1.2rem!important;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #594f73!important;
    border-radius: .5rem;
}